<!doctype html>
<html>
  <head>
    <title> Linkd </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css";
  </head>
  <body>

    <div class="container">

      <div class="jumbotron text-center">
        <p>Login or Register with:</p>

        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google </a>
      </div>

    </div>  

  </body>
</html>