<!doctype html>
<html>
  <head>
    <title> Linkd </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css";
  </head>
  <body>

    <div class="container">

      <div class="page-header text-center">
          <h1><span class="fa fa-anchor"></span> Profile Page</h1>
          <a href="/api/user/logout" class="btn btn-default btn-sm">Logout</a>
      </div>

      <div class="row">

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
          <div class="well">
            <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

              <p>
                <strong>id</strong>: <%= user.user_id_google %><br>
                <strong>token</strong>: <%= user.token_google %><br>
                <strong>email</strong>: <%= user.email_google %><br>
                <strong>name</strong>: <%= user.name_google %>
              </p>

          </div>
        </div>

        <!-- GROUP INFORMATION -->
        <div class="col-sm-6">
          <div class="well">
            <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

              <form id="createGroup" action="/api/group/create" method="post">
                <input id="groupName" name="name" type="text" placeholder="Group Name"/>
                <input type="submit" value="Create Group" />
              </form>

          </div>
        </div>

      </div>

    </div>
<!--
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="app.js"></script> -->

  </body>
</html>