.groupList {
  float: left;
  width: 50%;
  margin-top: 1em;
  padding-left: 0.5em;
  font-family: 'Lato', sans-serif;
  background-color: #FFFFFF;
}

.folderContents {
  margin-left: 1.6em;
}

.groupName {
  font-weight: bold;
  font-size: 1.1em;
}

.userList {
  font-style: italic;
}

.folderName {
  display: inline;
  margin-left: 0.3em;
  font-weight: bold;
}

.groupName:hover, .folderName:hover, .link:hover {
  color: #7AB317;
  cursor: pointer;
}

.folder {
  margin: .4em 0;
}
