.header {
  overflow: auto;
  background-color: #424242;
  border-bottom: solid 1px #BCBCBC;
  padding: 0.5em;
}

h1 {
  float: left;
  width: 50%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #E98977;
}

.tagline {
  float: left;
  width: 50%;
  clear: both;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: #E9E9E9;
}

.logout {
  float: right;
  width: 50%;
  text-align: right;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.logoutButton:visited {
  color: #D1D1D1;
}

.greeting {
  margin: 0 0.5em;
  font-family: 'Source Sans Pro', sans-serif;
  color: #E9E9E9;
}