.linkDetail {
  float: left;
  width: 45%;
  margin-top: 1em;
  border: 2px solid #BCBCBC;
  padding: 0.4em;
  font-family: 'Lato', sans-serif;
  background-color: #FFFCFD;
}

.linkName {
  font-size: 1.3em;
  font-weight: bold;
}

.linkURL {
  margin: .5em 0;
}

.commentList {
  height: 50vh;
  overflow-y: scroll;
}

.comment {
  margin: 1.2em 0;
}

.commentAuthor {
  font-weight: bold;
}

.commentTimestamp {
  font-style: italic;
  margin-left: 0.2em;
}
