.toolbar {
  clear: both;
  overflow: auto;
  padding: .4em;
  background-color: #E9E9E9;
  border: solid 2px #BCBCBC;
}

.newGroup {
  width: 20%;
  float: left;
}

.newUser {
  width: 25%;
  float: left;
}

.folderForms {
  width: 55%;
  float: left;
}

.newFolder {
  float: left;
  width: 30%;
}

.newLink {
  float: left;
  width: 70%;
}  

input[type="submit"] {
  display: block;
  margin: 0.5em auto;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

input[type="submit"]:hover {
  cursor: pointer;
}

input[type="text"] {
  width: 95%;
  margin: 0 auto;
}

.newLink > input[type="text"] {
  width: 47%;
  margin: 0 auto;
}

.groupTitle, .folderPath {
  margin-bottom: 0.5em;
  font-family: 'Lato', sans-serif;
}

.toolbarTitle, .toolbarLabel, {
  margin-bottom: 0.5em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}